{% extends "base.html" %}
{% block content %}
<h1>{{ case.name }}</h1>
<ul>
  <li><strong>Recap ID:</strong> {{ case.recap_id }}</li>
  <li><strong>PACER ID:</strong> {{ case.pacer_id }}</li>
  <li><strong>Jurisdiction:</strong> {{ case.jurisdiction }}</li>
  <li><strong>Chapter:</strong> {{ case.chapter }}</li>
  <li><strong>Date Created:</strong> {{ case.date_created }}</li>
  <li><strong>Date Filed:</strong> {{ case.date_filed }}</li>
  <li><strong>Date Terminated:</strong> {{ case.date_terminated }}</li>
</ul>

<h2>Docket</h2>
{% if case.docket_entries.all %}
  <div class="list-group">
    {% for de in case.docket_entries.all %}
      <a href="#" class="list-group-item  list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1"><strong>{{ de.date_created }}</strong></h5>
          <small>{{ de.recap_id }}</small>
        </div>
        <p class="mb-1">{{ de.description|default:"Description not available." }}</p>
        <hr />
        <ol>
        {% for doc in de.documents.all %}
          <li>
            <h6><strong>PACER: {{ doc.pacer_id|default:"N/A" }}</strong></h6>
            <p>{{ doc.description|default:"Document description unavailable." }}</p>
          </li>
        {% empty %}
          <p>No documents.</p>
        {% endfor %}
        </ol>
      </a>
    {% endfor %}
  </div>
{% else %}
<p>Not available.</p>
{% endif %}


{% endblock %}
